<div id="<%= dom_id workshop %>">
  <p>
    <strong>Start date:</strong>
    <%= workshop.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= workshop.end_date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= workshop.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= workshop.end_time %>
  </p>

  <p>
    <strong>Total sits:</strong>
    <%= workshop.total_sits %>
  </p>

  <p>
    <strong>Remaining sits:</strong>
    <%= workshop.remaining_sits %>
  </p>

  <p>
    <strong>Registration fee:</strong>
    <%= workshop.registration_fee %>
  </p>

</div>
